/* Styly pro nadpisy */

body {
    font-family: sans-serif;
}

h1 {
    color: #3498db; /* Barva textu pro nadpisy - modrá) */
    font-size: 24px; /* Velikost písma pro nadpisy */
    
}


h2 {
    color: #000000; /* Černá barva textu pro nadpis h2 */
    font-size: 20px; /* Zvětšená velikost písma pro nadpis h2 */
    
}

#additional-info p {
    font-size: 14px; /* Velikost písma 14 px */
    font-style: italic; /* Kurzíva pro text */
    
}


body {
    background-image: url('Gold Coast2.jpg');
    background-size: cover; /* zajistí, aby se obrázek přizpůsobil velikosti okna prohlížeče */
    background-position: center; /* nastaví pozici obrázku na střed */
    background-repeat: no-repeat; /* zabrání opakování obrázku */
}







































  

















 
 








 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 















  
  
  

  
  
  
  

  
  
  
  
  
  


  
  
  
  



  
  
  
  



  
  
  
  







