/* Styly pro nadpisy */

body {
    font-family: sans-serif;
}

h1 {
    color: #3498db; /* Barva textu pro nadpisy - modrá) */
    font-size: 24px; /* Velikost písma pro nadpisy */
    
}


h2 {
    color: #000000; /* Černá barva textu pro nadpis h2 */
    font-size: 20px; /* Zvětšená velikost písma pro nadpis h2 */
    
}

#additional-info p {
    font-size: 14px; /* Velikost písma 14 px */
    font-style: italic; /* Kurzíva pro text */
    
}

/* Vizuální oddělení mezi výpisy a nadpisem */
#results-hr {
    margin-top: 20px; /* Mezera nad čárou */
    margin-bottom: 20px; /* Mezera pod čárou */
    border-top: 2px solid #3498db; /* Barva, tloušťka a styl čáry */
    width: 100%; /* Šířka čáry */
}

.image-grid {
    display: flex;
}

.image-grid img {
    max-width: 90%; /* Omezí šířku obrázku na maximálně 100% šířky rodičovského prvku */
    margin-right: 3px; /* Přidáváme 3px mezery mezi obrázky */
}

/* Poslední obrázek nemá mít margin-right */
.image-grid img:last-child {
    margin-right: 0;
}








































  

















 
 








 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 















  
  
  

  
  
  
  

  
  
  
  
  
  


  
  
  
  



  
  
  
  



  
  
  
  



































  

















 
 








 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
 
 
 















  
  
  

  
  
  
  

  
  
  
  
  
  


  
  
  
  



  
  
  
  



  
  
  
  







